body {
background-image:"sfondo.jpg"
}

.wallpaper {
  display:block;
  margin: auto;
}

.body-container{
  font-family: 'Kanit', sans-serif;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  width: 60%;
  margin:auto;
  }

  .img-container {
  text-align: center;
  display: block;
}

 #text-logo  {
  text-align: center;
  display: block;
  color: #0BDA51;
}

.buttons-container {
  text-align: center;
  background-color:#0BDA51;
  padding: 10px;
}

button {
  background-color: white;
}

ul {
  color: white;
}

#yellow-carica {
  background-color:#fbc02d;
  text-align:left;
  width: 20%;
  border-radius: 15px;
  height: 100%;
  padding:10px;
  background-size: cover;
}

#green-carica {
  background-color:green;
  text-align:left;
  width: 40%;
  border-radius: 15px;
  height: 100%;
  padding:10px;
  background-size: cover;
}

#red-carica {
  background-color:#550A21;
  text-align:left;
  width: 10%;
  border-radius: 15px;
  height: 100%;
  padding:10px;
  background-size: cover;
}

h3 , p {
  color: white;
}

.main-container {
  text-align:
}
